DESTINATION_API=https://api.example.com
PORT=3000 
TRUST_PROXY=1  // optional
IP_RATE_LIMIT_WINDOW_MINUTES=1  // default 1 minute
IP_RATE_LIMIT_MAX_REQUESTS=10  // default 1000
PATH_RATE_LIMIT_WINDOW_MINUTES=1  // default 1 minute
PATH_RATE_LIMIT_MAX_REQUESTS=6  // default 1000
IP_PATH_RATE_LIMIT_WINDOW_MINUTES=1  // default 1 minute
IP_PATH_RATE_LIMIT_MAX_REQUESTS=7  // default 1000
REDIS_HOST=localhost
MONGO_DB_URI=mongodb://127.0.0.1:27017/requests